<body bgcolor="red">
<h1>Suban</h1>
 <h2> Rythan</h2>
 <h3> Magizhaal</h3>
  <h4>Mozhiyaal</h4>
  <h5>Vaan</h5>
  <h6>Vanam</h6>
  <br>
  <p><li>கனவில் தோன்றிடும் காட்சி யாவுமே,<br>
    <li>கம்பன் இயற்றிய காதல் காவியம்,<br>
    <li>கனவு கலைந்ததும் நீ காணும் யாவுமே<br>
    <li>காற்றில் வரைந்திடும் உயிர் ஓவியம்.<br>
    </p>
    <body><b><i>அலையோடு பிரிந்த நுரையாய் <mark>என் காதல்</mark>,<br>
      கடலை சேரும் மூன் கரைந்து போனதே.
      </i></b></body>
      <p>My fav color is <del>blue</del> <ins>black</ins></p>
      <body><b>Vaanathil</b> <sup> aval</sup> <sub> vannamaanaal</sub></body>
</body>